@tailwind base;
@tailwind components;
@tailwind utilities;

.offcanvas {
    position: fixed;
    top: 0;
    right: -300px; /* Off-canvas width */
    width: 300px; /* Off-canvas width */
    height: 100%;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    z-index: 40;
  }
  
  .offcanvas.open {
    right: 0;
  }
  
  .offcanvas-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .menu-content {
    padding: 1rem;
  }
  
  
  